#========================================================
#   Dehydrator Macros
#   From: https://github.com/pavluchenkor/iDryer-Unit/blob/main/readme_en.md
#========================================================
[gcode_macro OFF_Dehydrator]
gcode:
    UPDATE_DELAYED_GCODE ID=_UPDATE_Dehydrator DURATION=0
    SET_HEATER_TEMPERATURE HEATER=Dehydrator_Heater TARGET=0
    _status_ready

[delayed_gcode _OFF_Dehydrator]
gcode:
    OFF_Dehydrator
    _status_ready

[gcode_macro _PLA_Dehydrator]
variable_unit_temp: 55
variable_unit_duration: 4
gcode:
    DRY_Dehydrator UNIT_TEMPERATURE={unit_temp} HUMIDITY=10 TIME={unit_duration}
    _status_busy

[gcode_macro _PETG_Dehydrator]
variable_unit_temp: 65
variable_unit_duration: 4
gcode:
    DRY_Dehydrator UNIT_TEMPERATURE={unit_temp} HUMIDITY=10 TIME={unit_duration}
    _status_busy

[gcode_macro _TPU_Dehydrator]
variable_unit_temp: 60
variable_unit_duration: 4
gcode:
    DRY_Dehydrator UNIT_TEMPERATURE={unit_temp} HUMIDITY=10 TIME={unit_duration}
    _status_busy

[gcode_macro _ABS_Dehydrator]
variable_unit_temp: 80
variable_unit_duration: 25
gcode:
    DRY_Dehydrator UNIT_TEMPERATURE={unit_temp} HUMIDITY=10 TIME={unit_duration}
    _status_busy

[gcode_macro _PA_Dehydrator]
variable_unit_temp: 80
variable_unit_duration: 25
gcode:
    DRY_Dehydrator UNIT_TEMPERATURE={unit_temp} HUMIDITY=10 TIME={unit_duration}
    _status_busy

[gcode_macro QUERY_SHT]
gcode:
    {% set sensor = printer["htu21d Filament_Dryer"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Humidity: %.2f%%" % (
            sensor.temperature,
            sensor.humidity))}

[gcode_macro DRY_Dehydrator]
variable_temp: 1
variable_humidity: 1
variable_duration: 1
variable_off_timer_set: 0 
variable_delta_high: 10
variable_data: {}
gcode:
    {% set set_unit_temp = params.UNIT_TEMPERATURE_C|default(60)|int %} 
    {% set set_unit_humidity = params.HUMIDITY|default(10)|int%} 
    {% set set_unit_duration = params.TIME_HRS|default(25)|int%}  ## Changed to 240 from 25 for hours, not minutes
    
    {action_respond_info(" DRY_Dehydrator -- [ Temp  %s | Humidity  %s | Duration (hrs)  %s ] --" %(set_unit_temp, set_unit_humidity, set_unit_duration) )}

    {action_respond_info("Temperature  %.1f%%" %(printer["htu21d Filament_Dryer"].temperature))}
    {action_respond_info("Humidity  %.1f%%" %(printer["htu21d Filament_Dryer"].humidity))}

    SET_GCODE_VARIABLE MACRO=DRY_Dehydrator VARIABLE=temp VALUE={set_unit_temp}
    SET_GCODE_VARIABLE MACRO=DRY_Dehydrator VARIABLE=humidity VALUE={set_unit_humidity}
    SET_GCODE_VARIABLE MACRO=DRY_Dehydrator VARIABLE=duration VALUE={set_unit_duration}

    _status_busy  # Flashy red LED
    
    UPDATE_DELAYED_GCODE ID=_UPDATE_Dehydrator DURATION=5

[delayed_gcode _UPDATE_Dehydrator]
gcode:
    {% set unit_data = printer['gcode_macro DRY_Dehydrator'] %}
    {% set temperature = unit_data.temp %}                        # Temp, in C, Passed from user entry
    {% set delta_high =  unit_data.delta_high %}                  # Variable set above
    {% set dry_duration =  unit_data.duration %}                  # Time, in hours, for macro to run, user entry
    {% set off_timer_set = unit_data.off_timer_set %}             # Variable set above
    
    #{ action_respond_info("Unit_1 T: %s H: %.2f%%" %(temperature, printer["htu21d Filament_Dryer"].humidity))}
    
    {% if printer['temperature_sensor Filament_Dryer'].temperature|int > temperature|int %}
        {% set target_temp = 0|int %}                                                           
        # Set heater to zero if chamber is higher than set point
        
    {% elif printer['temperature_sensor Filament_Dryer'].temperature|int == temperature|int %}
    # if the chamber temp equals the set temp, do this
    
        {% if off_timer_set == 0 %}
            UPDATE_DELAYED_GCODE ID=_OFF_Dehydrator DURATION={dry_duration * 3600} 
            # Time to hours >> changed 60 to 3600. Macro uses seconds for calculations, so X 3600 to convert from hours to seconds
            
            SET_GCODE_VARIABLE MACRO=DRY_Dehydrator VARIABLE=off_timer_set VALUE=1
        {% endif %}

        {% set target_temp = printer['temperature_sensor Filament_Dryer'].temperature|int %}    
        # Set heater to selected temp when at target temp
        
    {% elif printer['temperature_sensor Filament_Dryer'].temperature|int < temperature|int %}  
    # if the chamber temp is less than set temp, do this
    
        {% set target_temp = temperature - printer['temperature_sensor Filament_Dryer'].temperature + temperature + delta_high%}
            # Set heater to higher temp by adding (setpoint - actual) + (target temp) + (delta_high)

           {% if target_temp > temperature + delta_high %} 
              {% set target_temp = temperature|int + delta_high|int %}
              # If target is higher than actual+delta, then set heater to higher temp than target by adding "delta_high"

           {% endif %}
    {% endif %}
    
    SET_HEATER_TEMPERATURE HEATER=Dehydrator_Heater TARGET={target_temp|int}
    UPDATE_DELAYED_GCODE ID=_UPDATE_Dehydrator DURATION=1