#=======================NEOPIXEL===================
# https://www.klipper3d.org/Config_Reference.html?h=temper#neopixel
#==================================================

[neopixel sprd]  # Dehydrator_Neo
pin: EBBCan: PD3
chain_count: 1
color_order: GRB
initial_RED: 0.1
initial_GREEN: 0.0
initial_BLUE: 0.1


[gcode_macro SPRD]
gcode:
    {% set R = params.R|default(1.0)|float %} 
    {% set G = params.G|default(0.0)|float %} 
    {% set B = params.B|default(1.0)|float %} 
    {% for i in range(1,5)%}
      SET_LED LED=sprd RED={R} GREEN={G} BLUE={B} WHITE=0 INDEX={1} TRANSMIT=1 SYNC=0
        G4 P1000  
    {% endfor %}


[delayed_gcode LED_SERVICE]
gcode:
    {% set cur_heater_state =   printer['heater_generic Dehydrator_Heater'].power|float %} 
    {% set cur_fan_state =      printer['heater_fan Fan_Dehydrator'].speed|float%} 
    {% set cur_unit_humidity =  printer["sht3x Filament_Dryer"].humidity|float%}
    {% set cur_unit_temp =      printer['temperature_sensor Filament_Dryer'].temperature|float%}

    {% if cur_unit_humidity < 20 %}
        {% set humidity_r = 1.0 - (cur_unit_humidity / 20.0) %}
        {% set humidity_g = 1.0 - (cur_unit_humidity / 20.0) %}
        {% set humidity_b = cur_unit_humidity / 20.0 %}
    {% else %}
        {% set humidity_r = 0.0 %}
        {% set humidity_g = 0.0 %}
        {% set humidity_b = (cur_unit_humidity - 20.0) / 80.0 %}
    {% endif %}
    
    {% if cur_fan_state != 1.0 %}
        {% set cur_fan_state = 0.01 %}
    {% endif %}

    {% if cur_unit_temp < 50 %}
        {% set red_intensity = 0.01 %}
    {% else %}
        {% set red_intensity = ((cur_unit_temp - 30) / 70) ** 0.5 %}
        {% set red_intensity = red_intensity if red_intensity <= 1.0 else 1.0 %}
        {% set red_intensity = red_intensity if red_intensity >= 0.01 else 0.01 %}
    {% endif %}

    #SET_LED LED=sprd RED={cur_heater_state}     GREEN={0.01}                BLUE={0.01}                 WHITE=0 INDEX={1}    # heater
    #SET_LED LED=sprd RED={0.01}                 GREEN={cur_fan_state}       BLUE={0.01}                 WHITE=0 INDEX={2}    # fan
    #SET_LED LED=sprd RED={humidity_r}           GREEN={humidity_g}          BLUE={humidity_b}           WHITE=0 INDEX={3}    # humidity
    SET_LED LED=sprd RED={red_intensity}        GREEN={0.01}                BLUE={0.01}                 WHITE=0 INDEX={1} TRANSMIT=1 SYNC=0 # temperature

    UPDATE_DELAYED_GCODE ID=LED_SERVICE DURATION=5


[gcode_macro LED_BLINK]
gcode:
    {% set colors = [
        {'R': 1.0, 'G': 0.0, 'B': 0.0},  
        {'R': 0.0, 'G': 1.0, 'B': 0.0},  
        {'R': 0.0, 'G': 0.0, 'B': 1.0}, 
        {'R': 1.0, 'G': 1.0, 'B': 0.0}   
    ] %}
    
    {% for i in range(blink_count) %}
        {% for j in range(4) %}
            {% set color = colors[j] %}
            SET_LED LED=sprd RED={color.R} GREEN={color.G} BLUE={color.B} WHITE=0 INDEX={j+1} TRANSMIT=1 SYNC=0
            G4 P100; 
            SET_LED LED=sprd RED=0 GREEN=0 BLUE=0 WHITE=0 INDEX={j+1} TRANSMIT=1 SYNC=0
            G4 P100 
        {% endfor %}
    {% endfor %}
